body {
      font-size: 14pt;
      color: black;
      line-height: 24px;
      font-weight: bold;
      font-family: "PT Sans";
}
h1 {
      font-size: 30pt;
}
h2 {
      font-size: 24pt;
}
.container {
      width: 940px;
      padding: 0 10px;
      margin: 0 auto;
}
.main-navigation {
  float: left;
         width: 780px;

}
.user-block {
  width: 140px;
}
